<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!-- Esto es la página principal del sitio web (template) -->
<html>
    <head th:replace="~{general/fragmentos :: head}"/>
    
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>
        
        <section th:replace="~{consultas/fragmentos :: consultas}"/>
        <section th:replace="~{consultas/fragmentos :: tarjetas}"/>
        
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>

